<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-6 d-flex">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/26/Spotify_logo_with_text.svg/2560px-Spotify_logo_with_text.svg.png" alt="">
            </div>
            <div class="col-6 d-flex justify-content-end align-items-center">
                <a href="">Iscriviti</a>
                <a href="">Log in</a>
                <a href="">Home</a>
            </div>
        </div>
    </div>
</div>
